/*
Title: Safer Rotherham Partnership Styles for Jadu Galaxies Spectral Theme
Description: Styles override default theme styles to apply corporate colours and fonts
Version: 1.0
Created by: John Kelly
Date created: 24/07/2020
Last updated: 27/07/2020
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

a:hover {
    border-bottom: 0;
}

a:active,
a:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    transition: none;
    outline-width: 3px;
    outline-style: solid;
    outline-color: #F3A536;
}

body {
    font-style: 100%;
    font-family: 'Poppins', sans-serif;
    background: #85DCFE;
}

#main>header,
body.landing #page-wrapper,
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/site/images/safer_rotherham_banner.png") !important;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/site/images/safer_rotherham_banner.png") !important;;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/site/images/safer_rotherham_banner.png") !important;;
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/site/images/safer_rotherham_banner.png") !important;;
}

input,
button {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #2E4D61;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 1.25rem;
}

.summary {
    font-size: 1.25rem;
}

main a:link {
    color: #FF8563 !important;
    border-bottom: solid 2px;
}

main a:visited {
    color: #FF8563;
    border-bottom: solid 2px;
}

main a:hover {
    color: #85DCFE;
    border-bottom: solid 2px;
}

main ul,
ol {
    color: #2E4D61;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0;
    margin-bottom: 1.25rem;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-transform: none;
}

h1 {
    color: #FF8563;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}


/* Utility Classes */

.db {
    display: block;
}

.tc {
    text-align: center;
}

.small {
    font-size: .875rem;
}

.pa3 {
    padding: 1rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-darkblue {
    background-color: #2e4d61;
}

.bg-orange {
    background-color: #ff8563;
}

.bg-yellow {
    background-color: #fcd45d;
}

.bg-green {
    background-color: #92e0a7;
}

.bg-lightblue {
    background-color: #85dcfe;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.darkblue {
    color: #2e4d61;
}

.orange {
    color: #ff8563;
}

.yellow {
    color: #fcd45d;
}

.green {
    color: #92e0a7;
}

.lightblue {
    color: #85dcfe;
}

#menu {
    color: #2E4D61;
    background-color: #FF8563;
}

#menu a.list__link {
    font-size: 1.125rem;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#menu a.list__link:hover {
    color: #85dcfe;
}

.wrapper.style5 {
    font-family: 'Poppins', sans-serif;
    color: #002554;
}

.wrapper.style5 h2,
.wrapper.style5 h3 {
    color: #FF8563;
}

.wrapper.style5 h4 {
    color: #85DCFE;
}

.wrapper.style5 .widget-width--21,
.widget-width--20,
.widget-width--19,
.widget-width--18,
.widget-width--17,
.widget-width--16,
.widget-width--15,
.widget-width--14,
.widget-width--13 {
    width: 100%;
}


/* Large (lg) */

@media (min-width: 1024px) {
    .wrapper.style5 .widget-width--21,
    .widget-width--20,
    .widget-width--19,
    .widget-width--18,
    .widget-width--17,
    .widget-width--16,
    .widget-width--15,
    .widget-width--14,
    .widget-width--13 {
        width: 20%;
    }
}


/* Extra Large (xl) */

@media (min-width: 1280px) {
    .wrapper.style5 .widget-width--21,
    .widget-width--20,
    .widget-width--19,
    .widget-width--18,
    .widget-width--17,
    .widget-width--16,
    .widget-width--15,
    .widget-width--14,
    .widget-width--13 {
        width: 20%;
    }
}

#header {
    background-color: #85DCFE;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}

body.landing #footer,
#footer {
    background-color: #85DCFE;
    border-bottom: 5rem solid #2E4D61;
}

#footer .copyright {
    color: #ffffff;
    font-size: 0.875rem;
    letter-spacing: 0;
    list-style: none;
    text-transform: none;
}

#header h1 {
    font-size: 1.25rem;
    margin: 0;
    color: #2E4D61 !important;
}

#banner h2 {
    display: none;
    visibility: hidden;
}

#banner .more {
    color: #2E4D61;
    font-size: 1.125rem;
    text-transform: none;
    letter-spacing: .5;
    position: absolute;
    bottom: -2rem;
}

#footer input {
    display: inline;
    width: auto;
    background-color: #2E4D61;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    letter-spacing: 0.2;
    line-height: 3rem;
    max-width: 30rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#banner h2 {
    color: #2E4D61;
}

#header nav>ul>li>a {
    color: #2E4D61;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    text-transform: none;
    letter-spacing: .5;
    .row {
        padding-left: .25rem;
        padding-right: .25rem;
    }
    /* Wrapper */
    .wrapper {
        padding-left: .25rem;
    }
    .wrapper>.inner {
        width: 72em;
        margin: 0 auto;
    }
    /* Small (sm) */
    @media (min-width: 640px) {
        /* ... */
    }
    /* Medium (md) */
    @media (min-width: 768px) {
        /* ... */
    }
    /* Large (lg) */
    @media (min-width: 1024px) {
        .wrapper>.inner {
            width: 100%;
        }
    }
    /* Extra Large (xl) */
    @media (min-width: 1280px) {
        .wrapper>.inner {
            width: 90%;
        }
    }
