/*
Title: Superfast Styles for Jadu Galaxies Spectral Theme
Description: Styles override default theme styles to apply corporate colours and fonts
Version: 1.1
Created by: John Kelly
Date created: 15/07/2020
Last updated: 16/07/2020
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-style: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #131313;
}

input,
button {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #131313;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ab0837;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 2.25rem;
    margin-bottom: 0.75rem;
    text-transform: none;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

.wrapper.style5 ul {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
}

li {
    margin-bottom: .5rem;
}

.summary {
    font-size: 1.125rem;
    font-weight: 600;
}

.wrapper.style5 h2,
.wrapper.style5 h3,
.wrapper.style5 h4,
.wrapper.style5 h5 .wrapper.style5 h6 {
    color: #ab0837;
}

a:link {
    color: #ab0837;
    border-bottom: solid 2px;
}

a:visited {
    color: #ab0837;
    border-bottom: solid 2px;
}

body.landing #header,
#header {
    background-color: #131313;
    border-bottom: 1px solid #000000;
}

body.landing #footer,
#footer {
    background-color: #131313;
    border-bottom: 5rem solid #000000;
}

#footer .copyright {
    color: #ffffff;
    font-size: 0.875rem;
    letter-spacing: 0;
    list-style: none;
    text-transform: none;
}

#header h1 {
    color: #ffffff;
    font-size: 1.25rem;
    margin-top: -1rem;
}

#header .logo {
    color: #ffffff;
    font-size: 1.25rem;
    padding-top: .5rem;
}

#banner h2,
header h2 {
    color: #ffffff;
    font-weight: 700;
}

header h2 {
    color: #ffffff;
}

#menu {
    color: #ffffff;
    background-color: #ab0837;
}

#menu a.list__link {
    font-size: 1rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 600;
}

#menu h2 {
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    color: #ffffff;
}

.row {
    padding-left: .25rem;
    padding-right: .25rem;
}


/* Wrapper */

.wrapper {
    padding-left: .25rem;
}

.wrapper>.inner {
    width: 72em;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .wrapper>.inner {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    .wrapper>.inner {
        width: 100%;
    }
}


/* Cards */

.card {
    display: block;
}

.card h3 {
    color: #ffffff !important;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    line-height: 1.2;
}

.card a {
    display: inline-block;
    margin-left: 1rem;
    margin-top: .25rem;
    margin-bottom: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 2px solid #ffffff;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 1.125;
}

.card a:hover {
    background-color: #414141;
}


/* Utility Classes */

.tc {
    text-align: center;
}

.pa3 {
    padding: 1rem;
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}

.bg-darkgrey {
    background-color: #131313;
}

.bg-grey {
    background-color: #5f5f5f;
}

.bg-lightgrey {
    background-color: #dfdfdf;
}

.bg-blue {
    background-color: #2196f3;
}

.bg-green {
    background-color: #009688;
}

.bg-red {
    background-color: #ab0837;
}

.bg-brightred {
    background-color: #ec0b4c;
}

.bg-purple {
    background-color: #6a1179;
}

.white {
    color: #ffffff;
}

.black {
    color: #000000;
}

.darkgrey {
    color: #131313;
}

.grey {
    color: #5f5f5f;
}

.lightgrey {
    color: #dfdfdf;
}

.blue {
    color: #2196f3;
}

.green {
    color: #009688;
}

.red {
    color: #ab0837;
}

.brightred {
    color: #ec0b4c;
}

.purple {
    color: #6a1179;
}
